:root {
    --mainColor: #495e57;
    --mainColorLight: #f4ce14;
    --secondaryColor: #EE9972;
    --secondaryColorLight: #fbdabb;
    --highlightColor:   #333333;
    --highlightColorLight:   #EDEFEE;
}
form {
 
}

form label {
   
}

form.button { 
}